@use "global"as *;

.c-fullTitle {
  width: 100%;
  padding: rem(17.5) 0;
  background-color: #F4F4E2;
  text-align: center;
}

.c-fullTitle__main {
  position: relative;
  line-height: 1.75;
  font-size: rem(26);
  font-weight: bold;
}

.c-fullTitle__main::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: rem(-1);
  transform: translateX(-50%);
  width: rem(269.2895);
  height: rem(1.795);
  background-color: $black;
}

.c-fullTitle__sub {
  font-size: rem(17.5);
  line-height: 1.75;

  @include mq('md') {
    font-size: rem(20);
  }
}