@use 'global' as *;

.c-title2 {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    font-size: rem(23);
    text-align: center;
    line-height: calc(58/46);

    @include mq(md) {
        font-size: rem(50);
    }
}

.c-title2::before {
    position: absolute;
    content: "";
    width: 100%;
    height: rem(14);
    background-color: $yellow;
    left: 0;
    bottom: rem(-3);
    z-index: -1;

    @include mq(md) {
        width: calc(100% + 1em);
        height: rem(24);
        left: -0.5em;
    }
}