@use 'global' as *;

.c-title {
    text-align: center;
    @include mq(md) {
        text-align: left;
    }
}

.c-title--white {
    color: $white;
}

.c-title__ja {
    font-weight: bold;
    font-size: rem(15);

    @include mq(md) {
        font-size: rem(26);
        text-align: left;
    }
}

.c-title--center .c-title__ja {
    text-align: center;
    font-size: rem(14);
}

.c-title__en {
    font-family: $en-font;
    font-size: rem(50);
    font-weight: 600;
    margin-top: rem(10);

    @include mq(md) {
        text-align: center;
        font-size: rem(100);
    }
}

.c-title--center .c-title__en {
    font-size: rem(45);

    @include mq(md) {
        font-size: rem(80);
    }
}

.c-title__en span {
    display: inline-block;
    opacity: 0;
    transform: translate(0, 30px);
    color: #FFCC00;
}

.c-title__en span.is-show {
    opacity: 1;
    transform: none;
    color: $black;
    transition: 0.3s opacity 0s linear, 0.2s color 0.4s linear, 0.3s transform 0s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.c-title--white  span.is-show {
    color: $white;
}