<div class="p-drawer js-drawer">
    <div class="p-drawer__logo">
        <a href="#">
            <img src="./images/common/logo_white.png" alt="">
        </a>
    </div>
    <ul class="p-drawer__links">
        <li class="p-drawer__link">
            <a href="#">CONCEPT　/　<span>コンセプト</span></a>
        </li>
        <li class="p-drawer__link">
            <a href="#">TRAINIING　/　<span>研修</span></a>
        </li>
        <li class="p-drawer__link">
            <a href="#">DRIVERS　/　<span>先輩紹介</span></a>
        </li>
        <li class="p-drawer__link">
            <a href="#">MESSAGE　/　<span>社長挨拶</span></a>
        </li>
        <li class="p-drawer__link">
            <a href="#">ENVIRONMENT　/　<span>仕事環境</span></a>
        </li>
        <li class="p-drawer__link">
            <a href="#">NEWS　/　<span>ニュース</span></a>
        </li>
        <li class="p-drawer__link">
            <a href="#">RECRUIT　/　<span>求人概要</span></a>
        </li>
        <li class="p-drawer__link">
            <a href="#">CAM-BUS　/　<span>キャンバスについて</span></a>
        </li>
    </ul>
    <div class="p-drawer__entry c-entryBtn js-entry">
        <a href="#">
            <img src="./images/common/entry_icon.png" alt="応募する">
            <p>ENTRY | 応募する</p>
        </a>
    </div>
</div>