<div class="p-drawer js-drawer">
    <div class="p-drawer__logo">
        <a href="./">
            <img src="./images/common/logo_white.png" alt="ロゴ">
        </a>
    </div>
    <ul class="p-drawer__links">
        <li class="p-drawer__link">
            <a href="./concept/">CONCEPT　/　<span>コンセプト</span></a>
        </li>
        <li class="p-drawer__link">
            <a href="./training/">TRAINIING　/　<span>研修</span></a>
        </li>
        <li class="p-drawer__link">
            <a href="./drivers/">DRIVERS　/　<span>先輩紹介</span></a>
        </li>
        <li class="p-drawer__link">
            <a href="./message/">MESSAGE　/　<span>社長挨拶</span></a>
        </li>
        <li class="p-drawer__link">
            <a href="./environment/">ENVIRONMENT　/　<span>仕事環境</span></a>
        </li>
        <li class="p-drawer__link">
            <a href="./news/">NEWS　/　<span>ニュース</span></a>
        </li>
        <li class="p-drawer__link">
            <a href="./recruit/">RECRUIT　/　<span>求人概要</span></a>
        </li>
        <li class="p-drawer__link">
            <a href="./cambus/">CAM-BUS　/　<span>キャンバスについて</span></a>
        </li>
    </ul>
    <div class="p-drawer__entry c-entryBtn js-entryBtnFront">
        <a href="./entry/">
            <img src="./images/common/entry_icon.png" alt="応募する">
            <p>ENTRY | 応募する</p>
        </a>
    </div>
</div>