<div class="p-footer">
    <div class="p-footer__inner l-inner">
        <p class="p-footer__bigText">
            <span>WORK LIFE BALANCE</span><br>
            きっと見つかる君にピッタリの働き方
        </p>
        <div class="p-footer__external">
            <div class="p-footer__btns">
                <div class="p-footer__btn">
                    <span class="u-mobile">受付時間　平日(9:00～18:00)</span>
                    <a href="tel:0729620012">
                        <img src="../images/common/tel.png" alt="072-962-0012">
                        072-962-0012
                    </a>
                    <span class="u-desktop">受付時間　平日(9:00～18:00)</span>
                </div>
                <div class="p-footer__btn">
                    <a href="mailto:hiraokakoutuu@eos.ocn.ne.jp" target="_blank">
                        <img src="../images/common/mail.png" alt="メールでお問合せ">
                        メールでお問合せ
                    </a>
                </div>
            </div>
            <!-- <ul class="p-footer__sns">
                <li class="p-footer__sns-link">
                    <a href="#" target="_blank" rel="noopener rerferrer">
                        <img src="../images/common/twitter.png" alt="twitter">
                    </a>
                </li>
                <li class="p-footer__sns-link">
                    <a href="#" target="_blank" rel="noopener rerferrer">
                        <img src="../images/common/facebook.png" alt="twitter">
                    </a>
                </li>
            </ul> -->
        </div>
        <ul class="p-footer__links">
            <li class="p-footer__link">
                <a href="../message/#company">会社情報</a>
            </li>
            <li class="p-footer__link">
                <a href="../privacy/">プライバシーポリシー</a>
            </li>
        </ul>
        <div class="p-footer__bottom">
            <div class="p-footer__bottom-wrap">
                <h2 class="p-footer__logo">
                    <img src="../images/common/logo_white.png" alt="枚岡交通株式会社">
                </h2>
                <p class="p-footer__address">
                    〒578-0915　大阪府東大阪市古箕輪1丁目3-7
                </p>
            </div>
            <p class="p-footer__copy">
                Copyright &copy; 2022 HIRAOKAKOUTSU Inc. All rights reserved.
            </p>
        </div>
    </div>
</div>