<div class="p-header">
    <div class="p-header__inner l-inner">
        <h1 class="p-header__logo">
            <a href="#">
                <img src="../images/common/logo.png" alt="枚岡交通株式会社">
            </a>
        </h1>
        <div class="p-header__hamburger">
            <div class="p-hamburger js-hamburger">
                <span></span>
                <span></span>
            </div>
        </div>
        <div class="p-header__drawer">
            <%- include('./_p-drawer2') %> 
        </div>
    </div>
</div>