@use 'global' as *;

.p-application {

}

.p-application__inner.l-inner {
    @include mq(md) {
        max-width: rem(1550);
    }
}

.p-application__title {
    font-size: rem(27);
    text-align: center;

    @include mq(md) {
        font-size: rem(30);
    }
}

.p-application__table {
    margin-top: rem(30);

    @include mq(md) {
        margin-top: rem(45);
        border-bottom: 1px solid #adadad;
    }
}

.p-application__table dl {
    position: relative;
    padding: rem(25) 0;

    @include mq(md) {
        display: flex;
        align-items: flex-start;
        padding: rem(35) rem(100);
    }
}

.p-application__table dl::before {
    position: absolute;
    content: "";
    width: 100vw;
    height: 1px;
    margin-left: calc(50% - 50vw);
    background-color: #adadad;
    left: 0;
    top: 0;

    @include mq(md) {
        width: 100%;
        margin-left: initial;
    }
}

.p-application__table dt {
    font-size: rem(14);
    font-weight: bold;

    @include mq(md) {
        width: rem(280);
        font-size: rem(20);
        line-height: 1.5;
    }
}

.p-application__table dd {
    font-size: rem(14);
    margin-top: rem(24);
    line-height: calc(42 / 28);
    font-feature-settings: "palt";

    @include mq(md) {
        width: calc(100% - #{rem(280)});
        font-size: rem(20);
        margin-top: 0;
    }
}

.p-application__table dd strong {
    display: inline-block;
    margin-top: rem(22);

    @include mq(md) {
        width: rem(160);
        margin-top: rem(10);
    }
}