@use "global"as *;


.p-calendar__titleWrapper {
  text-align: center;
}

.p-calendar__contents {
  margin-top: rem(40);

  @include mq('md') {
    margin-top: rem(50);
  }
}

.p-calendar__calendarImg {
  width: 100vw;
  margin: 0 calc(50% - 50vw);

  @include mq('md') {
    width: 100%;
    margin: initial;
  }
}

.p-calendar__description {
  display: flex;
  align-items: center;
  margin-top: rem(15);

  @include mq('md') {
    margin-left: rem(36);
  }
}

.p-calendar__description-icon {
  display: block;
  // max-width: rem(31);
  padding: rem(10) rem(10);
  border-radius: 50%;
  background-color: #02B5FD;
  margin-right: rem(2);

  @include mq('md') {
    // max-width: rem(30);
    padding: rem(7) rem(7);
  }
}


.p-calendar__description-icon img {
  width: rem(18);
  height: rem(18);
  fill: #fff;

  @include mq('md') {
    width: rem(19.7051);
    height: rem(17.5781);
  }
}

// .p-calendar__description-wrapper {
//   display: flex;
//   align-items: start;
// }

.p-calendar__description-term {
  min-width: rem(56.8);
  color: #02B5FD;
  font-size: rem(14);
  font-weight: bold;
  line-height: 1.60714;

  @include mq('md') {
    min-width: rem(64);
    font-size: rem(16);
  }
}

.p-calendar__description-term::after {
  content: '‥';
}

.p-calendar__description-text {
  // padding-top: rem(15);
  font-size: rem(12);
  line-height: 1.5;

  @include mq('md') {
    // padding-top: rem(0);
    font-size: rem(14);
    line-height: 2.5714;
  }
}