@use 'global' as *;

.p-coming {
    min-height: rem(250);
    display: flex;
    align-items: center;
    justify-content: center;

    @include mq(md) {
        min-height: rem(500);
    }
}

.p-coming__inner {
   
}

.p-coming__text {
    font-size: rem(20);
    font-family: $en-font;
    text-align: center;

    @include mq(md) {
        font-size: rem(40);
    }
}