@use "global"as *;

.p-entry__inner {
  @include mq(md) {
    width: 100%;
    max-width: 1500px + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
    margin: 0 auto;
  }
}

.p-entry__btn {
  max-width: rem(1000);
  margin: 0 auto;
}

