@use "global"as *;

.p-environmentLinks__inner {
  margin: 0 auto;
  max-width: rem(540); //状況によって変える必要があるかも
  width: 100%;
  height: inherit;
  padding-right: 12.5px;
  padding-left: 12.5px;

  @include mq(md) {
    max-width: 1500px + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}