@use 'global' as *;

.p-form {

}

.p-form__inner {

}

.p-form__title {
    text-align: center;
    font-size: rem(20);
    font-weight: bold;

    @include mq(md) {
        font-size: rem(40);
    }
}

.p-form__main {
    margin-top: rem(70);

    @include mq(md) {
        max-width: rem(950);
        margin: rem(140) auto 0;
    }
}

.p-form__main dl {

}

.p-form__main dl + dl {
    margin-top: rem(30);

    @include mq(md) {
        margin-top: rem(40);
    }
}

.p-form__main dl:first-child dd,
.p-form__main dl:nth-child(2) dd {
    @include mq(md) {
        display: grid;
        gap: 0 rem(50);
        grid-template-columns: repeat(2,1fr);
    }
}

.p-form__main dt {
    display: flex;
    align-items: center;
    font-size: rem(15);
    font-weight: bold;

    @include mq(md) {
        font-size: rem(18);
    }
}

.p-form__main dt .hissu {
    width: rem(30);
    height: rem(15);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: rem(10);
    color: #ff0000;
    border: 1px solid #ff0000;
    border-radius: rem(2);
    margin-left: rem(10);

    @include mq(md) {
        width: rem(44);
        height: rem(20);
    }
}

.p-form__main dt .ninni {
    width: rem(30);
    height: rem(15);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: rem(10);
    color: #868686;
    border: 1px solid #868686;
    border-radius: rem(2);
    margin-left: rem(10);

    @include mq(md) {
        width: rem(44);
        height: rem(20);
    }
}

.p-form__main dd {
    margin-top: rem(5);

    @include mq(md) {
        margin-top: rem(14);
    }
}

.p-form__main dd input {
    display: inline-block;
    width: 100%;
    background-color: #fafafa;
    border: 1px solid #868686;
    border-radius: rem(2);
    font-size: rem(12);
    line-height: 1;
    padding:rem(12);

    @include mq(md) {
        font-size: rem(15);
        padding: rem(20);
    }
}

.p-form__main dd input::placeholder {
    color: #d2d2d2;
    font-size: rem(12);
    line-height: 1;

    @include mq(md) {
        font-size: rem(15);
    }
}

.p-form__main dd input + input {
    margin-top: rem(15);

    @include mq(md) {
        margin-top: 0;
    }
}

.p-form__main dd select {
    width: 100%;
    padding: rem(12);
    font-size: rem(12);
    background-color: #fafafa;
    border: 1px solid #868686;
    border-radius: rem(2);
    background: url(../images/common/select_arrow.png) 96% 50%/0.5rem no-repeat;

    @include mq(md) {
        font-size: rem(15);
        padding: rem(20);
    }
}

.p-form__main dd textarea {
    display: inline-block;
    width: 100%;
    height: rem(160);
    background-color: #fafafa;
    border: 1px solid #868686;
    border-radius: rem(2);
    font-size: rem(12);
    line-height: 1.25;
    padding:rem(12);

    @include mq(md) {
        font-size: rem(15);
        padding: rem(20);
        height: rem(180);
    }
}

.p-form__main dl.harf dd input,
.p-form__main dl.harf dd select {
    max-width: rem(350);
}

.p-form__check {
    margin-top: rem(50);

    @include mq(md) {
        margin-top: rem(65);
    }
}

.p-form__input {
    text-align: center;
}

.p-form__input input {

}

.p-form__input span {
    position: relative;
    font-size: rem(12);
    padding-left: rem(14);

    @include mq(md) {
        font-size: rem(20);
        padding-left: rem(24);
    }
}

.p-form__input span::before {
    position: absolute;
    content: "";
    width: rem(12);
    height: rem(12);
    border: 1px solid #868686;
    border-radius: rem(2);
    top: 50%;
    transform: translateY(-50%);
    left: 0;

    @include mq(md) {
        width: rem(20);
        height: rem(20);
    }
}

.p-form__input span::after {
    position: absolute;
    content: "";
    width: rem(8);
    height: rem(8);
    background-color: #868686;
    top: 50%;
    transform: translateY(-50%);
    left: rem(2);
    border-radius: rem(2);
    display: none;

    @include mq(md) {
        width: rem(14);
        height: rem(14);
        left: rem(3);
    }
}

.p-form__input input:checked + span::after {
    display: block;
}

.p-form__input span a {
    color: #2ca3dd;
    text-decoration: underline;
}

#form_submit {
    position: relative;
    max-width: rem(210);
    margin: 0 auto;
    margin-top: rem(50);

    @include mq(md) {
        max-width: rem(300);
        margin-top: rem(65);
    }
}

#form_submit::before {
    position: absolute;
    content: "";
    background: url(../images/common/arrow_black.png) center center / contain no-repeat;
    width: rem(8);
    height: rem(14);
    top: 50%;
    transform: translateY(-50%);
    right: rem(14);
    transition: all 0.3s;
    z-index: 1;
  
    @include mq(md) {
      right: rem(20);
    }
  }

#form_submit input {
   
}

/* -- loading -------------------------------------------------------------------------------- */

div.loading-layer {
	width: 100vw;
	height: 100vh;
	background: rgba( 0, 0, 0, 0.7 );
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 10000;
}

span.loading {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	border-top: 5px solid rgba( 255, 255, 255, 0.2 );
	border-right: 5px solid rgba( 255, 255, 255, 0.2 );
	border-bottom: 5px solid rgba( 255, 255, 255, 0.2 );
	border-left: 5px solid #ffffff;
	-webkit-transform: translateZ( 0 );
	-ms-transform: translateZ( 0 );
	transform: translateZ( 0 );
	-webkit-animation: load-circle 1.0s linear infinite;
	animation: load-circle 1.0s linear infinite;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -30px;
	margin-left: -30px;
}

@-webkit-keyframes load-circle {
	0% {
		-webkit-transform: rotate( 0deg );
		transform: rotate( 0deg );
	}
	100% {
		-webkit-transform: rotate( 360deg );
		transform: rotate( 360deg );
	}
}

@keyframes load-circle {
	0% {
		-webkit-transform: rotate( 0deg );
		transform: rotate( 0deg );
	}
	100% {
		-webkit-transform: rotate( 360deg );
		transform: rotate( 360deg );
	}
}

/* -- error message -------------------------------------------------------------------------------- */

.error_blank,
.error_format,
.error_match {
	display: block;
	color: #ff0000;
	margin-top: 5px;
}
