@use 'global' as *;

.p-footer {
    background-color: $black;
    padding-top: rem(50);
    padding-bottom: rem(20);
}

.p-footer__inner {

}

.p-footer__bigText {
    text-align: center;
    color: $white;
    font-family: $sub-font;
    font-weight: 700;
    font-size: rem(17);
    line-height: 2;
}

.p-footer__bigText span {
    text-align: center;
    font-size: rem(35);
    font-weight: 600;
    font-family: $en-font;
}

.p-footer__external {
    margin-top: rem(50);
}

.p-footer__btns {
    display: grid;
    gap: rem(25);
}

.p-footer__btn {
    text-align: center;
}

.p-footer__btn a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: rem(75);
    font-size: rem(21);
    font-weight: bold;
    background-color: $white;
    color: $black;
    font-family: $din;
    letter-spacing: 0.05em;
    border-radius: rem(37);
}

.p-footer__btn:nth-child(1) a {
    font-size: rem(37);
}

.p-footer__btn img {
    width: rem(29);
    margin-right: rem(20);
}

.p-footer__btn span {
    text-align: center;
    color: $white;
    line-height: rem(25);
}

.p-footer__sns {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: rem(25);
}

.p-footer__sns-link {
    width: rem(60);
}

.p-footer__sns-link + .p-footer__sns-link {
    margin-left: rem(50);
}

.p-footer__sns-link a {
    display: block;
}

.p-footer__links {
    height: rem(50);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: rem(50);
}

.p-footer__link {
    height: inherit;
}

.p-footer__link a {
    color: $white;
    font-size: rem(13);
}

.p-footer__link + .p-footer__link {
    margin-left: rem(38);
}

.p-footer__bottom {

}

.p-footer__bottom-wrap {

}

.p-footer__logo {
    max-width: rem(278);
    margin: 0 auto;
}

.p-footer__address {
    text-align: center;
    color: $white;
    font-size: rem(14);
    margin-top: rem(11);
}

.p-footer__copy {
    font-size: rem(11);
    text-align: center;
    color: $white;
    margin-top: rem(47);
}