@use "global"as *;

.p-fullTitle {
  width: 100vw;
  padding: rem(17.5) rem(25);
  margin: 0 calc(50% - 50vw);
  background-color: #F4F4E2;
  text-align: center;

  @include mq('md') {
    width: 100%;
    max-width: calc(#{rem(1500)} + 25 * 2);
    margin: 0 auto;
  }
}

.p-fullTitle__main {
  position: relative;
  line-height: 1.75;
  font-size: rem(26);
  font-weight: bold;
}

.p-fullTitle__main::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: rem(-1);
  transform: translateX(-50%);
  width: rem(269.2895);
  height: rem(1.795);
  background-color: $black;
}

.p-fullTitle__sub {
  padding-top: rem(10);
  font-size: rem(17.5);
  line-height: 1.75;

  @include mq('md') {
    font-size: rem(20);
  }
}