@use 'global' as *;

.p-hamburger {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: $black;
    border: rem(3) solid $white;
}

.p-hamburger.is-active {
    background-color: $white;
    transition: all 0.3s;
}

.p-hamburger span {
    position: absolute;
    width: rem(13);
    height: rem(2);
    background-color: $white;
    left: 50%;
    transition: all 0.3s;

    @include mq(md) {
        width: rem(30);
        height: rem(5);
    }
}

.p-hamburger.is-active span:nth-child(1) {
    background-color: $black;
    top: rem(18);
    transform: translateX(-50%) rotate(45deg);

    @include mq(md) {
        top: rem(47);
    }
}

.p-hamburger.is-active span:nth-child(2) {
    background-color: $black;
    top: rem(18);
    transform: translateX(-50%) rotate(-45deg);

    @include mq(md) {
        top: rem(47);
    }
}

.p-hamburger span:nth-child(1) {
    transform: translateX(-50%);
    top: rem(14);

    @include mq(md) {
        top: rem(38);
    }
}

.p-hamburger span:nth-child(2) {
    transform: translateX(-50%);
    top: rem(22);

    @include mq(md) {
        top: rem(56);
    }
}