@use 'global' as *;

.p-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: rem(67.5);
    z-index: 1001;
    background-color: $white;

    @include mq(md) {
        height: rem(200);
        pointer-events: none;
        background-color: transparent;
    }
}

.l-header--top .p-header {
    background-color: transparent;
}

.p-header__inner.l-inner {
    padding: 0 rem(16) 0 rem(25);
    display: flex;
    align-items: center;
    max-width: unset;

    @include mq(md) {
        align-items: flex-start;
        padding-top: rem(50);
        padding-right: rem(50);
    }
}

.p-header__logo {
    position: relative;
    pointer-events: visible;
    z-index: 1;
    width: rem(214);
    @include mq(md) {
        width: rem(320);
    }
}

.p-header__logo a {
    display: block;
}

.p-header__hamburger {
    width: rem(42.5);
    height: rem(42.5);
    margin-left: auto;
    z-index: 1000;
    pointer-events: initial;
    cursor: pointer;

    @include mq(md) {
        width: rem(100);
        height: rem(100);
    }
}

.p-header__drawer {
    z-index: 999;
    pointer-events: initial;
}