@use 'global' as *;

.p-period {

}

.p-period__inner {

}

.p-period__title {

}

.p-period__units {
    display: grid;
    gap: rem(90);
    margin-top: rem(70);
}

.p-period__unit {
    position: relative;
    max-width: rem(300);
    margin: 0 auto;
}

.p-period__unit::before {
    position: absolute;
    content: "";
    width: rem(44);
    height: rem(23);
    background: url(../images/common/arrow_bottom.png) center center / contain no-repeat;
    left: 50%;
    transform: translateX(-50%);
    bottom: rem(-55);
}

.p-period__unit:last-child::before {
    display: none;
}

.p-period__number {
    font-size: rem(75);
    font-family: $din;
    text-align: center;
    color: $yellow;
}

.p-period__unit-title {
    position: relative;
    font-size: rem(20);
    font-weight: bold;
    text-align: center;
    margin-top: rem(25);
}

.p-period__unit-title::before {
    position: absolute;
    content: "";
    background-color: $yellow;
    width: rem(125);
    height: rem(3);
    left: 50%;
    transform: translateX(-50%);
    bottom: rem(-25);
}

.p-period__unit-text {
    line-height: 1.5;
    margin-top: rem(50);
}

.p-period__unit-text p + p {
    padding-bottom: rem(15);
}

.p-period__unit-text strong {
    display: inline-block;
    margin: rem(15) 0;
}

.p-period__unit-text span {
    font-weight: 400;
}

.p-period__text {
    font-size: rem(15);
    line-height: calc(52/30);
    margin-top: rem(75);
}