@use 'global' as *;

.p-seniorItem {
   
}

.p-seniorItem__top {
    width: 100vw;
    margin-left: calc(50% - 50vw);
}

.p-seniorItem__top-img {
    

}

.p-seniorItem__content {
    background-color: $yellow;
    padding: rem(25) rem(25);
}

.p-seniorItem__bigText {
    font-size: rem(30);
    font-weight: bold;
    line-height: calc(80/60);

}

.p-seniorItem__wrap {
    margin-top: rem(30);
}

.p-seniorItem__info {

}

.p-seniorItem__year {
    font-size: rem(12);
    font-weight: bold;
}

.p-seniorItem__position {
    font-size: rem(12);
    margin-top: rem(18);
}

.p-seniorItem__name {
    font-size: rem(18);
    margin-top: rem(20);
}

.p-seniorItem__name span {
    font-size: rem(12);
    vertical-align: middle;
    margin-left: rem(20);
}

.p-seniorItem__old {
    font-size: rem(12);
    font-weight: bold;
    margin-top: rem(17);
}

.p-seniorItem__text {
    font-size: rem(15);
    line-height: 2;
    margin-top: rem(37);
}

.p-seniorItem__lists {
    display: grid;
    gap: rem(56);
    margin-top: rem(75);
}

.p-seniorItem__list {
    counter-increment: listNumber;

}

.p-seniorItem__list-title {
    position: relative;
    font-weight: bold;
    line-height: calc(52/38);
    padding-left: rem(100);
}

.p-seniorItem__list-title::before {
    position: absolute;
    content: 'Q' counter(listNumber);
    font-size: rem(30);
    font-weight: bold;
    top: 0;
    left: rem(40);
    background-color: $white;
    line-height: 1;
    color: $yellow;
}

.p-seniorItem__list-title::after {
    position: absolute;
    content: "";
    width: rem(95);
    height: rem(2);
    background: linear-gradient(to right, $yellow, $yellow rem(30), transparent rem(30), transparent calc(100% - #{rem(8)}), $yellow calc(100% - #{rem(8)}));
    left: 0;
    top: rem(15);
}

.p-seniorItem__list-text {
    font-size: rem(14);
    line-height: 2;
    font-feature-settings: "palt";
    margin-top: rem(34);
}