@use 'global' as *;

.p-subMV {
  
}


// =====MV=====
$layer-mv-swiper:0;
$layer-mv-text:3;
$layer-mv-black:1;


.p-subMV {
	position: relative;
	width: 100%;
	height: 100vh;
}

.p-subMV__img {
	width: 100%;
	height: 100%;
	margin: 0;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  background-image: url(../images/common/subMV_01.jpg);

  @include mq('md') {
    background-image: url(../images/common/subMV_01_pc.jpg);
  }
}

.p-subMV__text {
	position: absolute;
	top: 45%;
	transform: translateY(-50%);
	width: 100%;
	z-index: $layer-mv-text;
}

.p-subMV__main-text,
.p-subMV__sub-text {
	text-align: center;
}

.p-subMV__main-text {
	// margin-bottom: rem(25);
}

.p-subMV__sub-text {
	margin-top: 0;
}