@use "global"as *;


.p-workStyleLink {
  position: relative;
  display: block;
  // width: rem(170);
  padding: rem(50) rem(10) rem(24.25);
  max-width: 100%;
  background-color: $yellow;

  @include mq('md') {
    // width: rem(340);
    padding: rem(104) rem(30) rem(47);
  }
}

.p-workStyleLink::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: calc(100% - rem(10));
  max-width: 100%;
  height: calc(100% - rem(10));
  border: 0.88px solid $black;

  @include mq('md') {
    width: calc(100% - rem(20));
    height: calc(100% - rem(20));
  }
}

.p-workStyleLink__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: rem(8.5);
  font-size: rem(16);
  font-weight: bold;
  line-height: 1;

  @include mq('md') {
    gap: rem(6.5);
    font-size: rem(32);
  }
}

.p-workStyleLink__text::after {
  content: '';
  display: inline-block;
  width: 100%;
  height: rem(1.69);
  background-color: $black;

  @include mq('md') {
    height: rem(3.38);
  }
}

.p-workStyleLink__subText {
  display: block;
  text-align: center;
  font-size: rem(10);
  line-height: 1.75;

  @include mq('md') {
    font-size: rem(20);
  }
}

.p-workStyleLink__arrow {
  display: block;
  text-align: center;
  width: rem(15);
  height: rem(15);
  margin: 0 auto;
  border: 0;
  border-top: solid 2px $black;
  border-right: solid 2px $black;
  transform: rotate(135deg);
  margin-top: rem(28.5);

  @include mq('md') {
    margin-top: rem(58);
  }
}