@use "global"as *;


.p-workStyle__inner {
  // overflow-x: hidden;
  margin: 0 auto;
  max-width: rem(540); //状況によって変える必要があるかも
  width: 100%;
  height: inherit;
  padding-right: $padding-sp;
  padding-left: $padding-sp;

  @include mq(md) {
    max-width: 1200px + strip-unit($padding-pc) * 2;
    padding-right: $padding-pc;
    padding-left: $padding-pc;
  }
}

.p-workStyle__section-header {}

.p-workStyle__units {
  position: relative;
  margin-top: rem(50);

  @include mq('md') {
    margin-top: rem(100);
    width: 100%;
  }
}

.p-workStyle__units::before {
  content: "";
  position: absolute;
  top: 0;
  left: 9%;
  height: 100%;
  width: rem(1.44);
  background-color: $yellow;
  transform: translate(0, 0);

  @include mq('md') {
    left: 50%;
    transform: translateX(-50%);
  }
}

.p-workStyle__unit {
  position: relative;
  width: 100%;
  margin-left: auto;

  @include mq('md') {
    width: 50%;
  }
}

.p-workStyle__unit+.p-workStyle__unit {
  margin-top: rem(36);

  @include mq('md') {
    margin-top: rem(43);
  }
}

.p-workStyle__unit:nth-child(even) {

  @include mq('md') {
    margin-left: 0;
  }
}

.p-workStyle__unit img {
  position: absolute;
  top: 0;
  left: calc(9% - rem(36));
  width: rem(72);
  height: rem(72);
  border-radius: 50%;
  background-color: $yellow;

  @include mq('md') {
    width: rem(100);
    height: rem(100);
    // bottom: -0.3125rem;
    left: rem(-50);
  }
}

.p-workStyle__unit:nth-child(even) img {
  @include mq('md') {
    left: initial;
    right: rem(-50);
  }
}

.p-workStyle__unitTitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: rem(27.5) 0 0 rem(78);
  margin: 0;
  line-height: 1.23529;
  font-weight: bold;
  font-size: rem(17);

  @include mq('md') {
    padding: 0;
    line-height: 1.75;
    font-size: rem(24);
  }
}

.p-workStyle__unit:nth-child(even) .p-workStyle__unitTitle {
  @include mq('md') {
    justify-content: end;
    text-align: right;
  }
}


.p-workStyle__unit:nth-child(even) .p-workStyle__unitTitle::before {

  @include mq('md') {
    order: 2;
  }
}

.p-workStyle__unitTitle::before {
  content: "";
  display: inline-block;
  // flex-shrink: 0;
  // bottom: 0;
  width: rem(30);
  height: rem(4.5);
  margin-right: rem(7.35);
  background: url(../images/environment/workStyle_dotline.png) no-repeat center;
  background-size: cover;

  @include mq('md') {
    width: rem(100);
    height: rem(2);
    background-image: url(../images/environment/workStyle_dotline_pc.png);
  }
}

.p-workStyle__unitText {
  margin-top: rem(5);
  padding: 0 0 0 rem(78 + 30 + 7.35);
  line-height: 1.5;
  font-size: rem(11);

  @include mq('md') {
    font-size: rem(18);
    margin-top: rem(15);
  }
}

.p-workStyle__unitText span {
  background-color: $yellow;
}

.p-workStyle__calendar {
  margin-top: rem(75);

  @include mq('md') {
    margin-top: rem(100);
  }
}

.p-workStyle__unit:nth-child(even) .p-workStyle__unitText {

  @include mq('md') {
    padding: 0;
  }
}


.p-workStyle__points {
  margin-top: rem(50);

  @include mq('md') {
    max-width: rem(800);
    margin: rem(70) auto 0;
  }
}

.p-workStyle__pointsTitle {
  text-align: center;
}

.p-workStyle__pointsText {
  margin-top: rem(25);
  font-size: rem(15);
  line-height: 2;

  @include mq('md') {
    font-size: rem(17.85);
  }
}