
@use "global"as *;

.p-workStyle__section-header {
width: 100%;
text-align: center;
background-color: #F4F4E2;
padding: rem(17.5) 0;
}

.p-workStyle__title {
  position: relative;
  font-size: rem(26);
  line-height: 1.75;
  font-weight: bold;
}

.p-workStyle__title::after {
  content: '';
  display: block;
  position: absolute;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: rem(-1);
  width: rem(269.2895);
  height: rem(1.795);
  background-color: $black;
}

.p-workStyle__subtitle {
  font-size: rem(17.5);
  line-height: 1.75;
  padding-top: rem(10);
}