@use "global"as *;

.p-workStyle__section-header {
  width: 100%;
  padding: rem(17.5) 0;
  background-color: #F4F4E2;
  text-align: center;
}

.p-workStyle__title {
  position: relative;
  line-height: 1.75;
  font-size: rem(26);
  font-weight: bold;
}

.p-workStyle__title::after {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  bottom: rem(-1);
  transform: translateX(-50%);
  width: rem(269.2895);
  height: rem(1.795);
  background-color: $black;
}

.p-workStyle__subtitle {
  font-size: rem(17.5);
  line-height: 1.75;
  
  @include mq('md') {
  font-size: rem(20);
  }
}

.p-workStyle__units {
  position: relative;
  margin-left: calc(50% - 50vw);
  width: 100vw;

  @include mq('md') {
    width: 100%;
  }
}

.p-workStyle__units::before {
  content: "";
  position: absolute;
  top: 0;
  left: 9%;
  height: 100%;
  width: rem(1.44);
  background-color: $yellow;
  transform: translate(0, 0);

  @include mq('md') {
    left: 50%;
    transform: translateX(-50%);
  }
}

.p-workStyle__unit {
  position: relative;
  width: 100%;
  margin-left: auto;

  @include mq('md') {
    width: 50%;
  }
}

.p-workStyle__unit+.p-workStyle__unit {
  margin-top: rem(27.5);

  @include mq('md') {
    margin-top: rem(43);
  }
}

.p-workStyle__unit:nth-child(even) {

  @include mq('md') {
    margin-left: 0;
  }
}

.p-workStyle__unit img {
  position: absolute;
  top: 0;
  left: calc(9% - rem(36));
  width: rem(72);
  height: rem(72);
  border-radius: 50%;
  background-color: $yellow;

  @include mq('md') {
    width: rem(100);
    height: rem(100);
    // bottom: -0.3125rem;
    left: rem(-50);
  }
}

.p-workStyle__unit:nth-child(even) img {
  @include mq('md') {
    left: initial;
    right: rem(-50);
  }
}

.p-workStyle__unitTitle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: rem(27.5) 0 0 rem(78);
  margin: 0;
  line-height: 1.23529;
  font-weight: bold;
  font-size: rem(17);

  @include mq('md') {
    line-height: 1.75;
    font-size: rem(24);
  }
}

.p-workStyle__unit:nth-child(even) .p-workStyle__unitTitle {
  @include mq('md') {
    justify-content: end;
    text-align: right;
  }
}


.p-workStyle__unit:nth-child(even) .p-workStyle__unitTitle::before {

  @include mq('md') {
    order: 2;
  }
}

.p-workStyle__unitTitle::before {
  content: "";
  display: inline-block;
  // flex-shrink: 0;
  // bottom: 0;
  width: rem(30);
  height: rem(4.5);
  margin-right: rem(7.35);
  background: url(../images/environment/workStyle_dotline.png) no-repeat center;
  background-size: cover;

  @include mq('md') {
    width: rem(100);
    height: rem(2);
    background-image: url(../images/environment/workStyle_dotline_pc.png);
  }
}

.p-workStyle__unitText {
  margin-top: rem(5);
  padding: 0 0 0 rem(78 + 30 + 7.35);
  line-height: 1.5;
  font-size: rem(11);

  @include mq('md') {
    font-size: rem(18);
  }
}

.p-workStyle__unitText span {
  background-color: $yellow;
}

.p-calendar__titleWrapper {
  text-align: center;
}

.p-yellowTitle {
  display: inline-block;
  background-color: $yellow;
  padding: 0 rem(4.4);
  font-size: rem(18.72);
  line-height: 1.75;

  @include mq('md') {
    font-size: rem(26);
  }
}

.p-calendar__description {
  display: flex;
  align-items: center;
}

.p-calendar__description-term::before {}

.p-calendar__description-icon {
  display: block;
  // width: rem(12.5);
  // height: rem(12.5);
  padding: rem(7) rem(7);
  border-radius: 50%;
  background-color: #02B5FD;
  margin-right: rem(2);
}


.p-calendar__description-icon img {
  width: rem(12.5);
  height: rem(12.5);
  max-width: initial;
  fill: #fff;
}

.p-calendar__description-term {
  color: #02B5FD;
  font-size: rem(14);
  font-weight: bold;
  line-height: 1.60714;
}
.p-calendar__description-term::after {
  content: '・・';
}
.p-calendar__description-text {
  font-size: rem(12);
  line-height: 1.5;
  
  @include mq('md') {
  font-size: rem(14);
  line-height: 2.5714;
  }
}

.p-workStyle__titleWrapper {
  text-align: center;
}

.p-workStyle__pointsText {
  font-size: rem(15);
  line-height: 2;
  
  @include mq('md') {
  font-size: rem(18);
  }
}