@use "global"as *;


.p-yellowLineCard__title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: rem(21);
  text-align: center;
  font-size: rem(24);
  line-height: 1.25;

  @include mq('md') {
    font-size: rem(30);
    gap: rem(37);
  }
}

.p-yellowLineCard__title::after {
  content: '';
  display: inline-block;
  width: rem(250);
  height: rem(4);
  background-color: $yellow;

  @include mq('md') {
    width: rem(310);
  }
}

.p-yellowLineCard__text {
  padding-top: rem(16.5);
  font-size: rem(15);
  line-height: 1.86666;

  @include mq('md') {
    padding-top: rem(26);
    font-size: rem(20);
    line-height: 2;
  }
}