
@use "global"as *;


.p-yellowTitle {
  display: inline-block;
  background-color: $yellow;
  padding: 0 rem(4.4);
  font-size: rem(18.72);
  line-height: 1.75;

  @include mq('md') {
    font-size: rem(26);
  }
}

.p-yellowTitle--en {
  text-transform: uppercase;
}