<div class="p-application">
    <div class="p-application__inner l-inner">
        <h2 class="p-application__title">募集要項</h2>
        <div class="p-application__table">
            <dl>
                <dt>雇用形態</dt>
                <dd>正社員</dd>
            </dl>
            <dl>
                <dt>給与</dt>
                <dd>平均月収25万円　月収50万円以上も可能<br>
                    無線配車が1日平均約600回あるので、無線だけでも安定した売上を上げられます。</dd>
            </dl>
            <dl>
                <dt>勤務時間</dt>
                <dd>
                    1ヶ月単位の変形労働時間（週平均実働40時間以内）<br>
                    <strong>【隔日勤務】</strong><br>
                    例 / 出社：AM8:00 / 退社：AM2:00 / 月12日勤務<br>
                    <strong>【2勤1休制】</strong><br>
                    例 / 出社：AM8:00 / 退社：AM2:00 / 月12日勤務<br>
                    <strong>【夜勤】</strong><br>
                    例 / 出社：PM5:00 / 退社：AM1:00 / 月24日勤務<br>
                    <strong>【昼勤】</strong><br>
                    例 / 出社：AM7:00 / 退社：PM3:00 / 月24日勤務
                </dd>
            </dl>
            <dl>
                <dt>休日</dt>
                <dd>6日以上（シフト表による）</dd>
            </dl>
            <dl>
                <dt>資格</dt>
                <dd>普通自動車免許（取得後3年以上・AT限定可）または、普通二種免許をお持ちの方。年齢・学歴不問</dd>
            </dl>
            <dl>
                <dt>待遇・福利厚生</dt>
                <dd>社会保険完備<br>
                    二種免許取得費用支援制度あり<br>
                    研修期間2ヶ月間　日給1万円支給<br>
                    退職金制度あり<br>
                    制服貸与<br>
                    定年制度あり/65歳まで<br>
                    再雇用制度/65歳以上<br>
                    全車AT車・ETC・ドラレコ搭載・カーナビ<br>
                    現在導入中のシエンタ車は追突防止・ふらつき防止装着付き<br>
                    マイカー通勤可</dd>
            </dl>
            <dl>
                <dt>勤務地住所</dt>
                <dd>大阪府東大阪市古箕輪１丁目３−７</dd>
            </dl>
        </div>
    </div>
</div>