<div class="p-conceptTop">
    <div class="p-conceptTop__inner l-inner">
        <h2 class="p-conceptTop__title">タクシー業界に<br class="u-mobile">新しい風を!!</h2>
        <div class="p-conceptTop__wrap">
            <p class="p-conceptTop__text">
                タクシードライバーって年配の方が多いイメージがありませんか？実は知られていないだけで、タクシー業界は仕事と私生活を柔軟に連動させる事ができ、<span class="u-yellow">ワークライフバランス</span>が取れるため、若い方の価値観と合っている業界です。仕事と私生活の両立を図りながら、未経験者はもとより経験者の方も一緒にタクシー業界のイメージを変えませんか？
            </p>
            <picture class="p-conceptTop__img">
                <img src="../images/concept/concept_01.png" alt="タクシー業界に新しい風を!!">
            </picture>
        </div>
    </div>
</div>