<div class="p-comapny">
    <div class="p-company__inner l-inner">
        <div class="p-comapny__title">
            <%- include('../component/_c-title',{
                type:'smallCenter',
                subtitle:'企業情報',
                title:'COMPANY'
            }) %> 
        </div>
        <div class="p-company__info">
            <dl>
                <dt>社名</dt>
                <dd>枚岡交通株式会社</dd>
            </dl>
            <dl>
                <dt>所在地</dt>
                <dd>〒578-0915<br>
                    大阪府東大阪市古箕輪1丁目3-7</dd>
            </dl>
            <dl>
                <dt>設立</dt>
                <dd>1954年5月</dd>
            </dl>
            <dl>
                <dt>代表者</dt>
                <dd>代表取締役　今川 哲嗣</dd>
            </dl>
            <dl>
                <dt>資本金</dt>
                <dd>3000万円</dd>
            </dl>
            <dl>
                <dt>従業員数</dt>
                <dd>148名</dd>
            </dl>
            <dl>
                <dt>TEL</dt>
                <dd>072-962-0012（代表）</dd>
            </dl>
            <dl>
                <dt>FAX</dt>
                <dd>072-964-3325</dd>
            </dl>
            <dl>
                <dt>事業内容</dt>
                <dd>一般乗用旅客自動車運送事業<br>
                    一般貸切旅客自動車運送事業<br>
                    「大阪モノづくり観光ナビ」協賛</dd>
            </dl>
            <div class="p-company__map">
                <div class="p-company__map-inner">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3280.780339642448!2d135.61303895059729!3d34.68549298034239!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600120147c30b817%3A0x35e3f99bea969413!2z5p6a5bKh5Lqk6YCa5qCq5byP5Lya56S-!5e0!3m2!1sja!2sjp!4v1667322521544!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>