<div class="p-driversTop">
    <div class="p-driversTop__inner l-inner">
        <ul class="p-driversTop__btns">
            <li class="p-driversTop__btn">
                <a href="#sasaki">
                    <p class="p-driversTop__btn-year">2019年 中途入社</p>
                    <p class="p-driversTop__btn-position">ドライバー</p>
                    <p class="p-driversTop__btn-name">佐々木 隆太</p>
                    <p class="p-driversTop__btn-en">SASAKI RYUTA</p>
                </a>
            </li>
            <li class="p-driversTop__btn">
                <a href="#yamato">
                    <p class="p-driversTop__btn-year">2021年 中途入社</p>
                    <p class="p-driversTop__btn-position">ドライバー</p>
                    <p class="p-driversTop__btn-name">山戸 悠水</p>
                    <p class="p-driversTop__btn-en">YAMATO YUMI</p>
                </a>
            </li>
            <li class="p-driversTop__btn">
                <a href="#yano">
                    <p class="p-driversTop__btn-year">2019年 中途入社</p>
                    <p class="p-driversTop__btn-position">ドライバー</p>
                    <p class="p-driversTop__btn-name">矢野 雅也</p>
                    <p class="p-driversTop__btn-en">YANO MASAYA</p>
                </a>
            </li>
        </ul>
    </div>
</div>