<div class="p-environment">
    <div class="p-environment__inner l-inner">
        <div class="p-environment__title">
            <%- include('../component/_c-title',{
                subtitle:'社内環境',
                title:'ENVIRONMENT',
                type:''
            }) %> 
        </div>
        <picture class="p-environment__img">
            <img src="./images/top/environment_01.jpg" alt="社内環境">
        </picture>
        <div class="p-environment__subtitle">
            <%- include('../component/_c-subtitle',{
                subtitle:'社内の雰囲気や福利厚生'
            }) %> 
        </div>
        <p class="p-environment__text c-text">
            年に1回のもちつき大会やBBQなどのレクリエーションも多数あります！家族や時には地域の皆様を巻き込んで行うので、一気に距離が縮まります！
        </p>
        <div class="p-environment__btn">
            <%- include('../component/_c-btn',{
                type:'shadow',
                link:'#',
                text:'詳しく見る'
            }) %> 
        </div>
    </div>
</div>