<div class="p-environment">
    <div class="p-environment__inner l-inner">
        <div class="p-environment__title">
            <%- include('../component/_c-title',{
                subtitle:'社内環境',
                title:'ENVIRONMENT',
                type:''
            }) %> 
        </div>
        <picture class="p-environment__img js-scroll-fade">
            <img src="./images/top/environment_01.jpg" alt="社内環境">
        </picture>
        <div class="p-environment__subtitle js-scroll-fade">
            <%- include('../component/_c-subtitle',{
                subtitle:'社内の雰囲気や福利厚生'
            }) %> 
        </div>
        <p class="p-environment__text c-text js-scroll-fade">
            管理部と営業部などの部署間の壁がなく、親しみやすい雰囲気が特徴の会社です。社内に人間関係の壁がなく、新入社員の方も溶け込みやすい環境です！
        </p>
        <div class="p-environment__btn">
            <%- include('../component/_c-btn',{
                type:'shadow',
                link:'./environment/',
                text:'詳しく見る'
            }) %> 
        </div>
    </div>
</div>