<div class="p-environmentMerit">
  <div class="p-environmentMerit__inner">
    <div class="p-environmentMerit__section-header">
      <div class="p-fullTitle">
        <h2 class="p-fullTitle__main">その他メリット</h2>
        <span class="p-fullTitle__sub">枚岡交通の社内環境</span>
      </div>
    </div>

    <div class="p-card">
      <h3 class="p-card__title">風通しの良い環境</h3>
      <p class="p-card__text">会社内の人間関係で程よい距離感で接することができます。部署間の壁がなく、親しみやすいアットホームな雰囲気の会社です。</p>
    </div>
  </div>
</div>