<div class="p-mv">
    <div class="p-mv__inner l-inner">
        <h2 class="p-mv__title">
            WORK LIFE<br class="u-mobile">BALANCE
        </h2>
        <p class="p-mv__subtitle u-desktop">
            ワークライフバランス<br>
            きっと見つかる<br>
            君にピッタリの働き方!
            <span>
                WORK LIFE BALANCE<br>
                I'm sure you'll find　The perfect way to work for you
            </span>
        </p>
        <div class="p-mv__middle">
            <picture class="p-mv__img">
                <img src="./images/top/mv_01.png" alt="きっと見つかる君にピッタリの働き方">
            </picture>
            <div class="c-big-entryBtn">
                <a href="./entry/">
                    <img src="./images/common/entry_btn.png" alt="応募する">
                </a>
            </div>
        </div>
        <p class="p-mv__subtitle u-mobile">
            ワークライフバランス<br>
            きっと見つかる<br>
            君にピッタリの働き方
            <span>
                WORK LIFE BALANCE<br>
                I'm sure you'll find　The perfect way to work for you
            </span>
        </p>
        <button class="p-mv__scroll">
            <span>SCROLL DOWN</span>
        </button>
        <button class="p-mv__entry c-entryBtn js-entry">
            <a href="./entry">
                <img src="./images/common/entry_icon.png" alt="応募する">
                <p>ENTRY | 応募する</p>
            </a>
        </button>
    </div>
</div>