
<div class="p-period">
    <div class="p-period__inner l-inner">
        <div class="p-period__title">
            <%- include('../component/_c-title2',{
                title:'入社から研修期間について'
            }) %> 
        </div>
        <div class="p-period__units">
            <div class="p-period__unit">
                <p class="p-period__number">01</p>
                <h3 class="p-period__unit-title">二種免許取得</h3>
                <div class="p-period__unit-text">
                    <p>
                        自動車教習所で実技と学科を学びます。<br>
                        <strong>所要時間 ： 8日　日当 ： 10,000円</strong>
                    </p>
                </div>
            </div>
            <div class="p-period__unit">
                <p class="p-period__number">02</p>
                <h3 class="p-period__unit-title">門真試験場</h3>
                <div class="p-period__unit-text">
                    <p>
                        試験当日も半日分の日当が出るので安心して受けられます。<br>
                        <strong>所要時間 ： 1日　日当 ： 5,000円</strong>
                    </p>
                </div>
            </div>
            <div class="p-period__unit">
                <p class="p-period__number">03</p>
                <h3 class="p-period__unit-title">タクシーセンター研修</h3>
                <div class="p-period__unit-text">
                    <p>
                        大阪の地理について研修を受けた後、試験を行います。<br>
                        <strong>所要時間 ： 4日　日当 ： 10,000円</strong>
                    </p>
                </div>
            </div>
            <div class="p-period__unit">
                <p class="p-period__number">04</p>
                <h3 class="p-period__unit-title">社内研修</h3>
                <div class="p-period__unit-text">
                    <p>
                        午前中に乗務員証の登録後、会社でタクシー業務の基本を学びます。<br>
                        <strong>所要時間 ： 1日　日当 ： 10,000円</strong>
                    </p>
                </div>
            </div>
            <div class="p-period__unit">
                <p class="p-period__number">05</p>
                <h3 class="p-period__unit-title">側乗研修</h3>
                <div class="p-period__unit-text">
                    <p>
                        ベテラン乗務員の横に乗って実際の仕事の流れを学びます。<br>
                        <strong>所要時間 ： 2〜4日　日当 ： 10,000円</strong>
                    </p>
                </div>
            </div>
            <div class="p-period__unit">
                <p class="p-period__number">06</p>
                <h3 class="p-period__unit-title">初心者期間</h3>
                <div class="p-period__unit-text">
                    <p>
                        道をある程度覚えて、業務に慣れて頂くための期間です。<br>
                        <strong>所要時間 ： 2ヶ月　日当 ： 10,000円<br>月給 ： 約24万円<span>（※日当換算した場合）</span></strong>
                        <hr>
                    </p>
                    <p>
                        <strong>1ヶ月研修<span>（初心者期間内）</span> ： 2時間</strong><br>
                        地理など実際に働いて分からない所などを相談できます。
                        <hr>
                    </p>
                    <p>
                        <strong>2ヶ月研修<span>（初心者期間内）</span> ： 2時間</strong><br>
                        東大阪の主要な道路やスポットへの道などの地理試験を行います。
                    </p>
                </div>
            </div>
        </div>
        <p class="p-period__text">
            遠方から来られた方や、運転に自身のない方はその都度追加で研修も実施しています。教育係と運行管理者が同じのため、個別に細やかなサポートがあるので安心してタクシーのお仕事がスタートして頂けます。
        </p>
    </div>
</div>