<div class="p-point">
    <div class="p-point__inner l-inner">
        <ul class="p-point__items">
            <li class="p-point__item">
                <h3 class="p-point__item-title">
                    <%- include('../component/_c-blackTitle',{
                        title:'POINT.1'
                    }) %> 
                </h3>
                <figure class="p-point__item-img">
                    <img src="../images/concept/point-1.png" alt="家族のイラスト">
                </figure>
                <p class="p-point__item-text">
                    仕事と私生活どちらも充実を
                </p>
            </li>
            <li class="p-point__item">
                <h3 class="p-point__item-title">
                    <%- include('../component/_c-blackTitle',{
                        title:'POINT.2'
                    }) %> 
                </h3>
                <figure class="p-point__item-img">
                    <img src="../images/concept/point-2.png" alt="働いているイラスト">
                </figure>
                <p class="p-point__item-text">
                    若い方が即戦力として活躍
                </p>
            </li>
            <li class="p-point__item">
                <h3 class="p-point__item-title">
                    <%- include('../component/_c-blackTitle',{
                        title:'POINT.3'
                    }) %> 
                </h3>
                <figure class="p-point__item-img">
                    <img src="../images/concept/point-3.png" alt="考えているイラスト">
                </figure>
                <p class="p-point__item-text">
                    自分で働き方を決めれる
                </p>
            </li>
            <li class="p-point__item">
                <h3 class="p-point__item-title">
                    <%- include('../component/_c-blackTitle',{
                        title:'POINT.1'
                    }) %> 
                </h3>
                <figure class="p-point__item-img">
                    <img src="../images/concept/point-4.png" alt="男性のイラスト">
                </figure>
                <p class="p-point__item-text">
                    未経験者も安心してスタート
                </p>
            </li>
        </ul>
    </div>
</div>