<div class="p-strong">
    <div class="p-strong__inner l-inner">
        <div class="p-strong__subtitle">
            <%- include('../component/_c-blackTitle',{
                title:'ABOUT COMPANY'
            }) %> 
        </div>
        <div class="p-strong__title">
            <%- include('../component/_c-title2',{
                title:'東大阪市を中心に移動を通じて<br>安全・安心を提供します！'
            }) %> 
        </div>
        <p class="p-strong__text">
            枚岡交通は東大阪密着でお客様の足として、68年営業を続けてきました。今後も地域の皆様に貢献できるよう誠心誠意営業を続けてまいります。
        </p>
        <div class="p-strong__content">
            <h3 class="p-strong__content-title">
                枚岡交通で働く<br><span>3</span>つの強み
            </h3>
            <ul class="p-strong__items">
                <li class="p-strong__item">
                    <div class="p-strong__item-number">01</div>
                    <p class="p-strong__item-title">TRUST</p>
                    <p class="p-strong__item-subtitle u-yellow">積み重ねた信頼と実績</p>
                    <p class="p-strong__item-bigText">
                        創業68年！東大阪エリアの<br>老舗タクシー会社です！
                    </p>
                    <p class="p-strong__item-text">
                        枚岡交通は68年間、東大阪(中部・東部)エリアでのお客様の足として、活躍してまいりました！ただお客様を目的地に連れていくだけでなく、接客にも力を入れているため、地元の方から愛されております。
                    </p>
                </li>
                <li class="p-strong__item">
                    <div class="p-strong__item-number">02</div>
                    <p class="p-strong__item-title">STABIE</p>
                    <p class="p-strong__item-subtitle u-yellow">安定した給与</p>
                    <p class="p-strong__item-bigText">
                        70％を超える高い予約率で、<br>給与が安定します！
                    </p>
                    <p class="p-strong__item-text">
                        枚岡交通は地域のお客様からのリピートがお仕事の大多数を占めております。他社よりも圧倒的に予約が多く、給与が安定することが特徴です！そのため初めての方も安心して仕事に取り組めます。
                    </p>
                </li>
                <li class="p-strong__item">
                    <div class="p-strong__item-number">03</div>
                    <p class="p-strong__item-title">BALANCE</p>
                    <p class="p-strong__item-subtitle u-yellow">仕事とプライベートの両立</p>
                    <p class="p-strong__item-bigText">
                        選べる勤務スタイルで、<br>あなたの生活の充実を実現
                    </p>
                    <p class="p-strong__item-text">
                        枚岡交通には、様々な勤務体系があります。ガッツリ稼ぎたい、自分の時間を優先したい、子育てしながら勤務したい、など希望に応じた勤務スタイルであなたの生活の充実を実現します。
                    </p>
                </li>
            </ul>
        </div>
        <div class="p-strong__bottom">
            枚岡交通で<br class="u-mobile">あなたの夢の形を<br>一緒に実現<br class="u-mobile">しませんか？
        </div>
    </div>
</div>