<% if ( type === "sasaki"){ %>
    <div class="p-seniorItem">
        <div class="p-seniorItem__top">
            <picture class="p-seniorItem__top-img">
                <img src="../images/drivers/drivers_01.jpg" alt="佐々木 隆太">
            </picture>
            <div class="p-seniorItem__content">
                <p class="p-seniorItem__bigText">
                    海外旅行にも行ける<br class="u-mobile">働き方です！   
                </p>
                <div class="p-seniorItem__wrap">
                    <div class="p-seniorItem__info">
                        <p class="p-seniorItem__year">2019年 中途入社</p>
                        <p class="p-seniorItem__position">ドライバー</p>
                        <p class="p-seniorItem__name">
                            佐々木 隆太<br><span>SASAKI RYUTA</span> 
                        </p>
                        <p class="p-seniorItem__old">24歳 / 入社3年目</p>
                    </div>
                    <p class="p-seniorItem__text">
                        休みの日に旅行しようと思った場合、タクシードライバー以外の大体のお仕事は、週末や長期休暇など人の多い混み合う時期にしか行けないことが多いと思います。タクシードライバーという働き方は、学生時代のように仲間と人混みが少ない時期に旅行に行くことができます。なので、僕と一緒に旅行に行きましょう！(笑)
                    </p>
                </div>
            </div>
        </div>
        <ul class="p-seniorItem__lists">
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    入社してから変わった<br class="u-mobile">良かったところ
                </h3>
                <p class="p-seniorItem__list-text">
                    プライベート面は、休みが増えたことで生活スタイルが変わり、趣味に時間を作れるようになりました。仕事面では、完全歩合制なので売上に対して頭を使うようになりました。1日の売上目標を立てて、どうすれば目標を達成できるのか、時間帯によって通る道を変えたり、工夫するようになりました。
                </p>
            </li>
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    休日の過ごし方
                </h3>
                <p class="p-seniorItem__list-text">
                    自分の好きなことに使える時間が増えました。人混みを避けて遊びに行けるので、飲みに行ったり、趣味のサウナに行ったりしています。
                </p>
            </li>
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    入社の決め手
                </h3>
                <p class="p-seniorItem__list-text">
                    1番の魅力は、休みが多いことでした。給料面でも、がんばり次第で収入が上がる完全歩合制の仕事をやってみたかったので、入社を決めました。
                </p>
            </li>
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    前職はなにをしていたか
                </h3>
                <p class="p-seniorItem__list-text">
                    大学生の時から研究が好きで、派遣の研究員をしていました。人員不足の研究所を転々とし、化学の研究の技術（おもに燃料エネルギー、電気エネルギー）を学んでいました。
                </p>
            </li>
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    入社してみて抱いた感想
                </h3>
                <p class="p-seniorItem__list-text">
                    人と会話するのが好きで、お客様と会話して雑学などの知識が学べるなと感じました。地域密着のタクシー会社なので、お客様以外にも同業のタクシードライバーとお話しできるのも楽しいです。
                </p>
            </li>
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    課題だと思うところは
                </h3>
                <p class="p-seniorItem__list-text">
                    自身の課題は、お客様を早く目的地にお送りする為に、裏道などの道をもっと覚えることです。東大阪だけではなく、市内に行くこともあるので、まだまだ覚える道は沢山あります。
                </p>
            </li>
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    今後の目標は
                </h3>
                <p class="p-seniorItem__list-text">
                    月間の収入目標として、40万円を掲げています。達成したら、東南アジアへ海外旅行に行きたいです。40万円がコンスタントに稼げるようになったら、スペインなどヨーロッパ旅行に行きたいです。
                </p>
            </li>
        </ul>
    </div>
<% } else if ( type === "yamato"){ %>
    <div class="p-seniorItem">
        <div class="p-seniorItem__top">
            <picture class="p-seniorItem__top-img">
                <img src="../images/drivers/drivers_02.jpg" alt="山戸 悠水">
            </picture>
            <div class="p-seniorItem__content">
                <p class="p-seniorItem__bigText">
                    親孝行ができる<br class="u-mobile">お仕事です！ 
                </p>
                <div class="p-seniorItem__wrap">
                    <div class="p-seniorItem__info">
                        <p class="p-seniorItem__year">2021年 中途入社</p>
                        <p class="p-seniorItem__position">ドライバー</p>
                        <p class="p-seniorItem__name">
                            山戸 悠水<br><span>YAMATO YUMI</span> 
                        </p>
                        <p class="p-seniorItem__old">24歳 / 入社1年目</p>
                    </div>
                    <p class="p-seniorItem__text">
                        しっかり休みが取れて自分のリズムで働けるので、メリハリのある働き方ができます。社会人になってからは、家族との時間が減ったように感じたのですが、タクシードライバーの働き方は休みが多いので親孝行できる時間が増えました。
                    </p>
                </div>
            </div>
        </div>
        <ul class="p-seniorItem__lists">
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    入社してから変わった<br class="u-mobile">良かったところ
                </h3>
                <p class="p-seniorItem__list-text">
                    休みが13日あるので、年に1回行けたら良かった家族旅行が、しょっちゅう行けるようになり、親孝行ができるようになりました。<br>
                    あとはシフトが2日働いて休みという働き方なので、嫌なことがあってもがんばれるようになりました。
                </p>
            </li>
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    休日の過ごし方
                </h3>
                <p class="p-seniorItem__list-text">
                    日帰りなどが多いですが、家族でちょっとした旅行に行けるようになりました。連休をとらないと行けなかったお婆ちゃんの家にもよく遊びに行きます。
                </p>
            </li>
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    入社の決め手
                </h3>
                <p class="p-seniorItem__list-text">
                    女性が働きやすい環境だと感じたからです。女性が働きやすいように工夫された勤務形態があって、深夜に運転はしません。特に夜勤が嫌だったわけではないのですが、女性の働きやすさを考えてくれているのが、良いなと思いました。あとは、職場体験で乗せてもらったドライバーさんが優しかったことです。
                </p>
            </li>
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    前職はなにをしていたか
                </h3>
                <p class="p-seniorItem__list-text">
                    飲食店の社員をしていて、休みは週に1日でした。京都のお店で働いていた時の休みはほとんどありませんでした。
                </p>
            </li>
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    転職先に選んだ理由は
                </h3>
                <p class="p-seniorItem__list-text">
                    運転が好きだということと、二種免許が取れるので今後の仕事に困らないと思ったからです。
                </p>
            </li>
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    入社してみて抱いた感想
                </h3>
                <p class="p-seniorItem__list-text">
                    タクシーのお仕事は、1人でがんばらないといけないイメージでしたが、みんな優しく教えてくれます。困ったことがあれば、先輩が休みの日でも電話して相談に乗ってもらってます。地域密着型のタクシー会社のため、決まった場所にお迎えに行くことが多いので、道はすぐ覚えれて楽だなと思いました。お客さんもほとんど決まってるからすぐ仲良くなれて楽しく働いてます。
                </p>
            </li>
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    課題だと思うところは
                </h3>
                <p class="p-seniorItem__list-text">
                    裏道などの知らない道はたくさんあるので、より早くお客様をお送りできるルートをもっと覚えることが収入を増やすために必要だと思っています。
                </p>
            </li>
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    今後の目標は
                </h3>
                <p class="p-seniorItem__list-text">
                    もっと道を覚えて売上を上げられるようになって、手取りで30万円が安定するようになりたいです。
                </p>
            </li>
        </ul>
    </div>
<% } else if ( type === "yano"){ %>
    <div class="p-seniorItem">
        <div class="p-seniorItem__top">
            <picture class="p-seniorItem__top-img">
                <img src="../images/drivers/drivers_03.jpg" alt="矢野 雅也">
            </picture>
            <div class="p-seniorItem__content">
                <p class="p-seniorItem__bigText">
                    新しいことに<br class="u-mobile">チャレンジするための<br>時間ができます！
                </p>
                <div class="p-seniorItem__wrap">
                    <div class="p-seniorItem__info">
                        <p class="p-seniorItem__year">2019年 中途入社</p>
                        <p class="p-seniorItem__position">ドライバー</p>
                        <p class="p-seniorItem__name">
                            矢野 雅也<br><span>MASAYA YANO</span> 
                        </p>
                        <p class="p-seniorItem__old">24歳 / 入社3年目</p>
                    </div>
                    <p class="p-seniorItem__text">
                        休みの日には、今までやってみたかった趣味にチャレンジするための時間ができます。ドライバーをしていた頃は、ボルダリング、フットサル、テニスなどをやっていました。次はキックボクシングにチャレンジしようと思ってます！勤務中もタクシーの待機時間という隙間時間があるので、読書や自分が将来的にやりたいことに関する学習など、興味があることを追求する時間に当てることもできます。
                    </p>
                </div>
            </div>
        </div>
        <ul class="p-seniorItem__lists">
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    入社してから変わった<br class="u-mobile">良かったところ
                </h3>
                <p class="p-seniorItem__list-text">
                    入社してからは、ちょうどコロナ禍でしたので本当に大変でした。お客様が居ないなか、どう売上を上げるかと創意工夫してチャレンジする経験ができました。新規部署に異動してからは、今までの仕事ではお会いできないような方々と出会えたり、本当に貴重な経験をさせて頂いてます。
                </p>
            </li>
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    休日の過ごし方
                </h3>
                <p class="p-seniorItem__list-text">
                    フレックスタイム制を導入しているので、予定が入った日を休みにしています。休日は、子供と遊んだり、友人と飲みに行ったりなど外出する時もあれば、1人で映画鑑賞や読書をしてゆったり過ごす日もあります。
                </p>
            </li>
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    入社の決め手
                </h3>
                <p class="p-seniorItem__list-text">
                    入社する時はタクシードライバーでしたので、休みの多さとがんばり次第で収入を増やせるという部分に惹かれました。未経験の業界で、周りの人には転職を決めたことにビックリされたのですが、なにかワクワクしたものを感じ、入社を決めました。
                </p>
            </li>
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    前職はなにをしていたか
                </h3>
                <p class="p-seniorItem__list-text">
                    某飲食チェーン店で12年間勤めていました。7店舗で店長をした後、本社の経営管理課という部署で財務や社内コンサルの業務を担当していました。
                </p>
            </li>
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    入社してみて抱いた感想
                </h3>
                <p class="p-seniorItem__list-text">
                    人会社には人情味のある方が多く、体調などを気にかけて下さったり、寒い日に暖かい飲み物を頂いたり、家族のような暖かみを感じました。新規部署の仕事は、様々な方たちに協力して頂きながらやらせてもらっているので、様々な方の考え方なども日々学べる環境だと感じました。
                </p>
            </li>
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    課題だと思うところは
                </h3>
                <p class="p-seniorItem__list-text">
                    自身の課題はたくさんあるのですが、どの仕事や業務にもゴールを明確に設定し、達成していく能力を課題としています。
                </p>
            </li>
            <li class="p-seniorItem__list">
                <h3 class="p-seniorItem__list-title">
                    今後の目標は
                </h3>
                <p class="p-seniorItem__list-text">
                    担当している新規事業を２年以内に軌道に乗せることです。安定した収益が上がることと、タクシー事業と相乗効果が出るような形になれば理想だと考えています。東大阪の行政や大学と連携して、地域の子育て世代の方たちに喜んでもらえるようなことをどんどんやっていきたいです。
                </p>
            </li>
        </ul>
    </div>
<% } %>