<div class="p-senior">
    <div class="p-senior__inner l-inner">
        <div class="p-senior__items">
            <div class="p-senior__item" id="sasaki">
                <%- include('../project/_p-seniorItem',{
                    type:'sasaki'
                }) %> 
            </div>
            <div class="p-senior__item" id="yamato">
                <%- include('../project/_p-seniorItem',{
                    type:'yamato'
                }) %> 
            </div>
            <div class="p-senior__item" id="yano">
                <%- include('../project/_p-seniorItem',{
                    type:'yano'
                }) %> 
            </div>
        </div>
    </div>
</div>