<div class="p-training">
    <div class="p-training__inner l-inner">
        <div class="p-training__title u-mobile">
            <%- include('../component/_c-title',{
                type:'',
                subtitle:'研修',
                title:'TRAINING'
            }) %> 
        </div>
        <picture class="p-training__img">
            <img src="./images/top/training_01.jpg" alt="研修の写真">
        </picture>
        <picture class="p-training__img2">
            <img src="./images/top/training_02.jpg" alt="研修の写真">
        </picture>
        <div class="p-training__content">
            <div class="p-training__title u-desktop">
                <%- include('../component/_c-title',{
                    type:'',
                    subtitle:'研修',
                    title:'TRAINING'
                }) %> 
            </div>
            <div class="p-training__subtitle js-scroll-fade">
                <%- include('../component/_c-subtitle',{
                    subtitle:'安心のサポート体制'
                }) %> 
            </div>
            <p class="p-training__text c-text js-scroll-fade">
                枚岡交通なら、二種免許取得するための取得費用は会社が負担します。また、免許取得期間中も給与をお支払いするので、お金をもらいながら取得でき、安心してタクシーのお仕事をスタートしていただけます。
            </p>
            <button class="p-training__btn">
                <%- include('../component/_c-btn',{
                    type:'shadow',
                    link:'#',
                    text:'詳しく見る'
                }) %> 
            </button>
        </div>
    </div>
</div>