<div class="p-thanks">
    <div class="p-thanks__inner l-inner">
        <p class="p-thanks__text">
            お問い合わせ頂き誠にありがとうございます。<br>
            ご記入頂いたメールアドレスへ、<br class="u-mobile">自動返信の確認メールをお送りいたしましたので<br class="u-mobile">ご確認お願いいたします。<br><br>

            しばらく経ってもメールが届かない場合は、<br class="u-mobile">入力頂いたメールアドレスが間違っているか、<br>
            迷惑メールフォルダに振り分けられている<br class="u-mobile">可能性がございます。<br>
            お手数ですがもう一度フォームより<br class="u-mobile">お問い合わせ頂きますようお願い申し上げます。
        </p>
        <picture class="p-thanks__img">
            <img src="../images/concept/concept_03.png" alt="車に乗っている男性">
        </picture>
        <div class="p-thanks__btn">
            <%- include('../component/_c-btn',{
                type:'yellow',
                link:'../',
                text:'トップへ戻る'
            }) %> 
        </div>
    </div>
</div>