<div class="p-workStyleLinks">
  <div class="p-workStyleLinks__link">
    <a href="#12days" class="p-workStyleLink">
      <span class="p-workStyleLink__text">隔日勤務/12日勤務</span>
      <span class="p-workStyleLink__subText">時間を優先したい人の働き方</span>
      <span class="p-workStyleLink__arrow"></span>
    </a>
  </div>
  
</div>