<div class="p-workStyle-links">

  <a href="#12days" class="p-workStyle-links_link">
    <span class="p-workStyle-links_link-text">隔日勤務/12日勤務</span>
    <span class="p-workStyle-links_link-subText">時間を優先したい人の働き方</span>
    <span class="p-workStyle-links_link-arrow"></span>
  </a>
</div>

