<div class="p-workStyle" id="12days">
  <div class="p-workStyle__inner">
    <div class="p-workStyle__section-header">
      <div class="p-fullTitle">
        <h2 class="p-fullTitle__main">2勤1休制/17日勤務</h2>
        <span class="p-fullTitle__sub">女性の方が活躍されている働き方</span>
      </div>
    </div>
    <div class="p-workStyle__units">
      <div class="p-workStyle__unit">
        <img src="images/environment/workStyle_time730.png" alt="7:30">
        <p class="p-workStyle__unitTitle">出社</p>
        <p class="p-workStyle__unitText"> 6:00〜9:00の間に出社します。
          ※お子様の都合など、家庭の事情がある方は、勤務日や勤務時間は気軽に相談してください。<br>
          ・点検などの準備 </p>
      </div>
      <div class="p-workStyle__unit">
        <img src="images/environment/workStyle_time800.png" alt="8:00">
        <p class="p-workStyle__unitTitle">乗務開始</p>
        <p class="p-workStyle__unitText">
          ・点検が完了次第、乗務開始です<br>
          ・待機場へ向かいます<br>
          <span>無線配車数が業界トップクラス</span>
          のため、無線だけでも安定した売上を上げられます。 </p>
      </div>
      <div class="p-workStyle__unit">
        <img src="images/environment/workStyle_time800-1100.png" alt="8:00~11:00">
        <p class="p-workStyle__unitTitle">午前のピークの時間</p>
        <p class="p-workStyle__unitText"> 朝から昼前にかけては病院までお送りするお客様が多くいらっしゃる時間帯です。</p>
      </div>
      <div class="p-workStyle__unit">
        <img src="images/environment/workStyle_time1200.png" alt="12:00">
        <p class="p-workStyle__unitTitle">昼食</p>
        <p class="p-workStyle__unitText"> 昼食の時間は決められておらず、自分の決めた好きなタイミングで昼食を取ります。 </p>
      </div>
      <div class="p-workStyle__unit">
        <img src="images/environment/workStyle_time1500.png" alt="15:00">
        <p class="p-workStyle__unitTitle">休憩</p>
        <p class="p-workStyle__unitText"> 休憩は合計で2時間あります。自身で調整していただけます。</p>
      </div>
      <div class="p-workStyle__unit">
        <img src="images/environment/workStyle_time1600-2000.png" alt="16:00~20:00">
        <p class="p-workStyle__unitTitle">午後のピークの時間帯</p>
        <p class="p-workStyle__unitText"> 夕方から夜にかけては、帰宅などご利用するお客様が多くいらっしゃる頑張る時間帯です。</p>
      </div>
      <div class="p-workStyle__unit">
        <img src="images/environment/workStyle_time1930.png" alt="19:30">
        <p class="p-workStyle__unitTitle">退社</p>
        <p class="p-workStyle__unitText"> 18:00~20:00の間で出勤時間に応じて退社します。</p>
      </div>
    </div>

    <div class="p-workStyle__calendar p-calendar">
      <div class="p-calendar__titleWrapper">
        <h3 class="p-yellowTitle">1ヶ月の勤務イメージ</h3>
      </div>
      <div class="p-calendar__contents">
        <picture class="p-calendar__calendarImg">
          <source media="(min-width: 768px)" srcset="images/environment/workStyle__calendar_03_pc.png" />
          <img src="images/environment/workStyle__calendar_03.png" alt="17日勤務のカレンダー" loading="lazy">
        </picture>
        <div class="p-calendar__description">
          <figure class="p-calendar__description-icon">
            <img src="images/environment/home-icon.svg" alt="">
          </figure>
          <span class="p-calendar__description-term">明け番</span>
          <p class="p-calendar__description-text">1日に2日分働いた次の日の身体を休める日です。</p>
        </div>
      </div>
      <div class="p-workStyle__points">
        <div class="p-workStyle__pointsTitle">
          <h3 class="p-yellowTitle p-yellowTitle--en">point</h3>
        </div>
        <div class="p-workStyle__pointsText">
          月17日出勤です。連勤は3連勤まで取ることができ、ポジティブアクションで女性の働きやすさを追求しております。お子様の都合などで急な欠勤でも、他の日に振替で勤務してもらうことができます。中には男性より稼いでいる方もいらっしゃいます。社会保険も完備され、正社員雇用のため安心して働いていただけます。
        </div>
      </div>
    </div>
  </div>
</div>