<div class="p-worklife">
    <div class="p-worklife__inner l-inner">
        <div class="p-worklife__subtitle">
            <%- include('../component/_c-blackTitle',{
                title:'WORK LIFE BALANCE'
            }) %> 
        </div>
        <div class="p-worklife__title">
            <%- include('../component/_c-title2',{
                title:'ワークライフバランスとは'
            }) %> 
        </div>
        <p class="p-worklife__text">
            仕事、プライベートどちらも充実させる<br class="u-mobile">働き方・生き方のことを意味します。<br>
            生活の充実によって、<br class="u-mobile">
            仕事の効率・パフォーマンスが向上し、<br class="u-mobile">
            成果を出せて好循環が生まれます
        </p>
        <div class="p-workelife__content">
            <figure class="p-worklife__figure">
                <img src="../images/concept/concept_02.png" alt="work&life">
            </figure>
            <div class="p-worklife__units">
                <p class="p-worklife__unit">
                    プライベートでのスキル向上<br>
                    心身のリフレッシュ<br>
                    余裕のある育児・介護<br>
                    多様な働き方
                </p>
                <p class="p-worklife__unit">
                    生産性の向上<br>
                    所定外労働の減少<br>
                    人件費の削減<br>
                    社員のモチベーションUP
                </p>
            </div>
        </div>
        <picture class="p-worklife__img">
            <img src="../images/concept/concept_03.png" alt="車に乗っている男性">
        </picture>
    </div>
</div>