<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>

<header class="l-header">
  <%- include('./common/_p-header') %>
</header>

<main>

</main>

<footer class="l-footer">
  <%- include('./common/_p-footer') %>
</footer>
</body>

</html>