@use "global" as *;

.l-footer {
    margin-top: rem(100);

    @include mq(md) {
        margin-top: rem(200);
    }
}

.l-footer--none {
    margin-top: 0;
    @include mq(md) {
        margin-top: 0;
    }
}