@use "global"as *;

.l-workStyle {
  margin-top: rem(25);

  @include mq('md') {
  margin-top: rem(120);
  }
}

.l-workStyle + .l-workStyle {
  margin-top: rem(90);

  @include mq('md') {
    margin-top: rem(150);
  }
}